.Nav {
  width: 640px;
  height: 44px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  &-Item {
    font-size: 16px;
    font-weight: 500;
    width: 25%;
    justify-content: center;
    text-align: center;
    margin: auto;
    border-bottom: 1.5px solid rgb(207, 207, 207);
    &-Name {
      margin-bottom: 5px;
    }
    &-active {
      font-size: 16px;
      font-weight: 500;
      width: 25%;
      justify-content: center;
      text-align: center;
      margin: auto;
      border-bottom: 2px solid black;
    }
  }
}
