.Footer {
  margin: auto;
  width: 640px;
  height: 148px;
  background-color: #f2f2f2;
  &-Area {
    width: 100%;
    display: flex;
    padding: 15px 20px 0px 20px;
    &-Title {
      color: #969696;
      font-weight: 600;
      font-size: 13.8px;
    }
  }
}
